<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <form action="/todo/<%= item._id %>?_method=PUT" method="POST">
      <label for="id">ID:</label>
      <input type="text" name="id" id="id" value="<%= item.id %>" />
      <br />
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= item.name %>" />
      <br />
      <label for="price">Price:</label>
      <input type="number" name="price" id="price" value="<%= item.price %>" />
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
